.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1440px) {
}
@media only screen and (min-width: 1920px) {
}